@import url(box.css);



/*Def y ajustar la imagen del fondo de la pagina*/
body
{
	padding: 0;
	margin: 0;
	background-image: url('../img/background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

img
{
	position: absolute;
	height: 100%;
	opacity: 0.6;
	top: 0%;
	left: 0%;
	filter: blur(3px);
	z-index: -5;
}
/*Contenedor para el formulario del logueo*/
.contenedor
{
	width: 400px;
	height: 440px;
	position: relative;
	overflow: hidden;
	top: calc(50vh - 250px);
	left: calc(50vw - 200px);
}